<!DOCTYPE html>
<html>

<head>

</head>

<body>
<style type="text/css">
table, th, td{
	border: 1px solid black;
}
</style>

<h1>Welcome to SV Airline System</h1>
<a href="/login">Login</a>
<a href="/register">Register</a>
<br>
{% if register %}
	<h2 style="color:blue">{{register}}</h2>
{% endif %}
{% if error %}
	<h3>Error: {{error}}</h3>
{% endif %}
<h3>Search for future flights</h3>
<table>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Departure Airport</th>
	<th>Departure Date</th>
	<th>Arrival Airport</th>
	<th>Arrival Date</th>
	<th>Base Price</th>
	<th>ID Number</th>

{% if flights %}
	{% for line in flights %}
		<tr>
			<td>{{line['airline']}}</td>
			<td>{{line['flight_number']}}</td>
			<td>{{line['departure_airport']}}</td>
			<td>{{line['departure_date_and_time']}}</td>
			<td>{{line['arrival_airport']}}</td>
			<td>{{line['arrival_date_and_time']}}</td>
			<td>{{line['base_price']}}</td>
			<td>{{line['ID_num']}}</td>
		</tr>
	{% endfor %}
{% endif %}

{% for line in result1 %}
		<tr>
			<td>{{line['airline']}}</td>
			<td>{{line['flight_number']}}</td>
			<td>{{line['departure_airport']}}</td>
			<td>{{line['departure_date_and_time']}}</td>
			<td>{{line['arrival_airport']}}</td>
			<td>{{line['arrival_date_and_time']}}</td>
			<td>{{line['base_price']}}</td>
			<td>{{line['ID_num']}}</td>
		</tr>
	{% endfor %}

{% for line in result2 %}
	<tr>
		<td>{{line['airline']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_date_and_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_date_and_time']}}</td>
		<td>{{line['base_price']}}</td>
		<td>{{line['ID_num']}}</td>
	</tr>
{% endfor %}

</table>
<form action="/viewFlightsAuth" method="POST">
	<h3></h3>
	<p>For one way trips:</p>
	<input type="text" name = "source_city" placeholder="Source City"/></br>
	<input type="text" name = "destination_city" placeholder="Destination City"/></br>
	</br>
	<input type="text" name = "airport_name1" placeholder="Source Airport Name"/></br>
	<input type="text" name = "airport_name2" placeholder="Target Airport Name"/></br>
	</br>
	<p>For round trips: (Requires the 2 airports to be filled as well)</p>
	<input type="text" name = "departure_date" placeholder="Departure Date"/></br>
	<input type="text" name = "arrival_date" placeholder="Arrival Date"/></br>
	<input type="submit" name="one_way" value = "Search for One-Way">
	<input type="submit" name="round_trip" value = "Search for Round-Trip">
	<input type="submit" name="show_all" value = "Show all Flights">
</form>
<br>

<h3>Check flight status</h3><br>
{% if status %}
<h3>The status of that flight is: {{status}}</h3>
{% endif %}
<form action="/viewFlightsAuth" method="POST">
	<input type="text" name = "status_airline_name" placeholder="Airline Name"/></br>
	<input type="text" name = "status_flight_number" placeholder="Flight Number"/></br><br>
	<input type="text" name = "status_departure" placeholder="Departure Date"/>
	<p>or</p>
	<input type="text" name = "status_arrival" placeholder="Arrival Date"/></br>
	<input type="submit" name="check_status" value = "Check Status">
</form>
</body>

</html>