<!DOCTYPE html>
<html>

<head>

</head>

<body>
<h1>Welcome to SV Airline System</h1>
<a href="/login">Login</a>
<a href="/register">Register</a>
<br>
{% if register %}
	<h2 style="color:blue">{{register}}</h2>
{% endif %}
<form action="/" method="POST">
	<h3>Search for future flights (Only 1 of 4 groups need to be filled in to search)</h3>
	<p>For one way trips:</p>
	<input type="text" name = "source_city" placeholder="Source City"/></br>
	<input type="text" name = "airport_name1" placeholder="Airport Name"/></br>
	</br>
	<input type="text" name = "destination_city" placeholder="Destination City"/></br>
	<input type="text" name = "airport_name2" placeholder="Airport Name"/></br>
	</br>
	<input type="text" name = "departure_date1" placeholder="Departure Date"/></br><br>
	<p>For round trips:</p>
	<input type="text" name = "departure_date2" placeholder="Departure Date"/></br>
	<input type="text" name = "arrival_date" placeholder="Arrival Date"/></br>
	<input type="submit" value = Search>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<br>

<style type="text/css">
table, th, td{
	border: 1px solid black;
}
</style>

<table>
	<th>Airline</th>
	<th>Flight Number</th>
	<th>Departure Airport</th>
	<th>Departure Date</th>
	<th>Arrival Airport</th>
	<th>Arrival Date</th>
	<th>Base Price</th>
	<th>ID Number</th>

{% for line in flights %}
	<tr>
		<td>{{line['airline']}}</td>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_airport']}}</td>
		<td>{{line['departure_date_and_time']}}</td>
		<td>{{line['arrival_airport']}}</td>
		<td>{{line['arrival_date_and_time']}}</td>
		<td>{{line['base_price']}}</td>
		<td>{{line['ID_num']}}</td>
	</tr>
{% endfor %}
</table>
</body>

</html>