<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<h1>Customer Registration</h1>
	<input type="text" name = "username1" placeholder="username"/> </br>
	<input type="password" name = "password1" placeholder="password"/></br>
	<input type="text" name = "email" placeholder="johndoe@gmail.com"/> </br>
	<input type="text" name = "building_name" placeholder="Building name"/> </br>
	<input type="text" name = "street" placeholder="Jay St"/> </br>
	<input type="text" name = "city" placeholder="Brooklyn"/> </br>
	<input type="text" name = "state" placeholder="NY"/> </br>
	<input type="text" name = "phone_number" placeholder="Phone number"/> </br>
	<input type="text" name = "passport_num" placeholder="Passport number"/> </br>
	<input type="text" name = "passport_expiration" placeholder="Passport expiration"/> </br>
	<input type="text" name = "passport_country" placeholder="United States"/> </br>
	<input type="text" name = "date_of_birth1" placeholder="Date of birth"/> </br><br>

	<h1>Airline Staff Registration</h1>
	<input type="text" name = "username2" placeholder="username"/> </br>
	<input type="password" name = "password2" placeholder="password"/></br>
	<input type="text" name = "first_name" placeholder="John"/> </br>
	<input type="text" name = "last_name" placeholder="Doe"/> </br>
	<input type="text" name = "date_of_birth2" placeholder="Date of birth"/> </br>
	<input type="text" name = "airline_name" placeholder="Jet Blue"/> </br>
	<input type="text" name = "phone_numbers" placeholder="Phone number(s)"/> </br>
	<input type="text" name = "email_addresses" placeholder="Email address(es)"/> </br>


	<br><input type="submit" value = "Register as a Customer or Airline Staff">
</form>
<a href="/">Go back</a>
</body>
</html>
