<html>
<head>
</head>
<body>
<form action="/registerAuth" method="POST">
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<h1>Customer Registration</h1>
	<input type="text" name = "username1" placeholder="username"/> </br>
	<input type="password" name = "password1" placeholder="password"/></br>
	<input type="text" name = "email" placeholder="johndoe@gmail.com"/> </br>
	<input type="text" name = "building_name" placeholder="Building Name"/> </br>
	<input type="text" name = "street" placeholder="Jay St"/> </br>
	<input type="text" name = "city" placeholder="Brooklyn"/> </br>
	<input type="text" name = "state" placeholder="NY"/> </br>
	<input type="text" name = "phone_number" placeholder="1234567890"/> </br>
	<input type="text" name = "passport_num" placeholder="123345456"/> </br>
	<input type="text" name = "passport_expiration" placeholder="2022-11-29 21:22:34.0"/> </br>
	<input type="text" name = "passport_country" placeholder="United States"/> </br>
	<input type="text" name = "date_of_birth1" placeholder="1999-11-29 21:22:34.0"/> </br><br>

	<h1>Airline Staff Registration</h1>
	<input type="text" name = "username2" placeholder="username"/> </br>
	<input type="password" name = "password2" placeholder="password"/></br>
	<input type="text" name = "first_name" placeholder="John"/> </br>
	<input type="text" name = "last_name" placeholder="Doe"/> </br>
	<input type="text" name = "date_of_birth2" placeholder="1999-11-29 21:22:34.0"/> </br>
	<input type="text" name = "airline_name" placeholder="Jet Blue"/> </br>


	<br><input type="submit" value = "Register as a Customer or Airline Staff">
</form>
<a href="/">Go back</a>
</body>
</html>
