body {
    background-color: grey;
    font-family: "courier"
}

main {
    background-color: rgb(158, 158, 158);
    border: 5px solid black;
    font-family: 'Noto Sans Buhid', sans-serif;
    margin: 40px;
    padding: 1vw;
}

header {
    background-color: blue;

}

h1 {
    text-align: center;
}
div {
    text-align: center;
}
ol {
    background-color: purple;

    padding: 3vw;
}

li {
    background-color: white;
    /* display: inline; */
    padding: 3vw;
    margin: 10px
}
a {
    font-size: 2rem;
}

.a {
    width: 37em;
    height: 30ex;
    background-color: grey;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.a:hover {
    background-color: bisque;
}

p {
    font-size: 2rem;
    text-align: center;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


.box {
    width: 190px;
    height: 100px;
    background-color: lightyellow;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;

    border-style: solid;
    border-width: 1px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
  
}
  
.box:hover {
    background-color: rgb(117, 255, 241);
    transform: scale(1.5);
}

poem {
    font-size: 2rem;
    text-align: center;
    font-family: cursive;
}

img {
    opacity: 0.5;
}
  
img:hover {
    opacity: 1.0;
}

div.background {
    background: url(war.jpeg);
    border: 2px solid black;
}
  
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}
  
div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
